[Unit]
Description="Gunicorn server instance configured to serve {{ project_name }}"
After=network.target

[Service]
User={{ user }}
Group=www-data
WorkingDirectory={{ project_dir }}
Environment="PATH={{ ansible_local.venv.path }}/bin"
ExecStart={{ ansible_local.venv.path }}/bin/gunicorn --workers 3 --bind unix:myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
